---
layout: default
---

{% include sidebar-home.html %}

<div class="home">
    {% assign posts=site.posts | where:"lang", page.lang %}
    <ul class="post-list">
        <!-- This loops through the paginated posts -->
        {% for post in paginator.posts %}
        <li>
            <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
            <div class="post-data">
                <!--
                {% assign image = post.images[0] %}
                {% include image.html image=image %}
            -->
                {{ post.excerpt | truncatewords: 100 }}
        </div>
        {% if post.content contains site.excerpt_separator %}
        <div class="post-meta">
            Posted on {{ post.date | date: "%b %-d, %Y" }}&nbsp
            {% assign sorted_tags = post.tags | sort %}
            {% for tag in sorted_tags %}
            <a href="/tags/#{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
        <!--
        <a class="post-more" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
    -->
    {% endif %}
</li>
{% endfor %}
</ul>
{% include pagination.html %}
</div>
